<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.name %></td>
        <td><%= home.address %></td>
        <% if home.user == current_user %>
          <td>
            <%= link_to "Compañías", companies_path(home: home), class: "badge badge-pill badge-primary" %>
            <%= link_to "Editar", edit_home_path(home), class: "badge badge-pill badge-primary" %>
            <%= link_to "Eliminar", home_path(home), class: "badge badge-pill badge-danger", method: :delete, data: { confirm: "Está seguro?"} %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>